<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <header>
        <h1>GroupieTracker</h1>
        <nav class="top-bar">
            <ul class="nav-bar">
                <li><a href="index.html">Artists</a></li>
                <li><a href="concerts.html">Concerts</a></li>
            </ul>
        </nav>
    </header>
    <div class="bar-search">
    <form action="#">
        <input type="text" placeholder="Rechercher...">
        <button type="submit">Go</button>
    </form>
</div>
<table>
    <tbody><tr>Details :</tr>
        {{range .Groupes}}
        <tr>
            <td>{{.Name}}</td>
            <td><img src="{{.Image}}" alt="" style="width:200px; height:200px; border-radius:50%"></td>
            <td>{{.CreationDate}}</td>
            <td>{{.FirstAlbum}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
<table>
    <tbody><tr>Membres :</tr>
        {{range .Membres}}
        <tr>
            <td>{{.Name}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
<table>
    <tbody><tr>Concerts :</tr>
        {{range .Concerts}}
        <tr>
            <td>{{.Location}}</td>
            <td>{{.Date}}</td>
            <td>{{.Location}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
</body>
</html>